#gui {
    position: absolute;
   
    float: right;
 }
#threejs-renderer{
    float:left;
}
.container-fluid{
   margin-top:10px;
}
  
.overlay {
	fill: none;
	pointer-events: all;
}

.tipsy-arrow {
	position: absolute;
	width: 0;
	height: 0;
	line-height: 0;
	border: 5px dashed #000;
}

.tipsy-w .tipsy-arrow {
	left: 0;
	top: 50%;
	margin-top: -5px;
	border-right-style: solid;
	border-left: none;
	border-top-color: transparent;
	border-bottom-color: transparent;
}